.border{
    border: 1px solid black;
}
body{
    margin:0;
    padding:0;
}

#canvas{
    align-content: center;
}

#canvasDiv{
    padding:3%;
}

.button-bars
{
    align-content: center;
    text-align: center;
}

#clear , #save {
    line-height: 20px;
    border-radius:8px;
    text-align: center;
    background-color:red;
    color:#fff;
    padding:5px;
    margin:10px 30px;
}

#save{
    background-color: green;
}

#savedImg
{
    display:block;
    margin:40px auto;
}

#outer-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#onstart-popup {
    position: fixed;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 50px;
    top: 50px;
    display: block;
    width: 70%;
    max-width: 400px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 20px;
    background: white;
}

#onstart-popup > div {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

#onstart-popup > div:hover {
    cursor: pointer;
    color: darkred;
}

.color-selector {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.color {
    margin: 0 10px;
    padding: 0;
    height: 100px;
    width: 100px;
}

.color:hover {
    cursor: pointer;
}

[data-color=black] {background-color:#000000 !important}
[data-color=red] {background-color:#ff2b2b !important}
[data-color=blue] {background-color:#006eff !important}
[data-color=green] {background-color:#baff33 !important}
[data-color=purple] {background-color:#b700ff !important}